{% extends 'base.html' %}
{% block title %}GESTION DE USUARIOS{% endblock %}
{% block content %}
<div class="mt-4">
    <h2>Gestión de Usuarios</h2>
    <!-- BOTÓN CREAR -->
    <a href="/usuarios/nuevo" class="btn btn-primary mb-3">Nuevo Usuario</a>
    
    <table class="table table-bordered table-primary table-striped">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Acciones</th>
        </tr>
        {% for u in usuarios %}
        <tr>
            <td>{{ u.id }}</td>
            <td>{{ u.nombre }}</td>
            <td>{{ u.email }}</td>
            <td>
                <!-- BOTONES CRUD -->
                <a href="/usuarios/editar/{{ u.id }}" class="btn btn-warning btn-sm">Editar</a>
                <a href="/usuarios/eliminar/{{ u.id }}" class="btn btn-danger btn-sm"
                onclick="return confirm('¿Eliminar usuario?')">
                    Eliminar
                </a>
            </td>
        </tr>
        {% endfor %}
</table>
</div>
{% endblock %}